---
plugins:
- - '@semantic-release/changelog'
  - changelogTitle: '# Changelog'
- - '@semantic-release/git'
  - assets: [package.json, CHANGELOG.md]
- '@semantic-release/release-notes-generator'
- '@semantic-release/npm'
- '@semantic-release/github'
